{% if content.field_banner_image |render %}
	<div class="m-banner m-banner--{{ ct }}" aria-label="Page banner">

		{# <div class="m-banner__copy">
			<div class="grid">
				<div class="col-sm-12">
					
					{% if node.title.value %}
						<h1>
							{{ node.title.value }}
						</h1>
					{% endif %}

				</div>
			</div>
		</div> #}


		{% if content.field_banner_image[1]|render %}
			<div class="swiper">
				<div class="swiper-wrapper desktop-slider">
						<div class="swiper-slide">
							{{ content.field_banner_image }}
						</div>
				</div>
				<button class="swiper-pause  desktop-slider-pause"></button>
			</div>
		{% else %}
			<figure class="m-banner__image">
				{{ content.field_banner_image }}
			</figure>
		{% endif %}

	</div>

{% else %}

	<div class="m-no-banner m-no-banner--{{ ct }}" aria-label="Page banner">
		<div class="grid">
			<div class="col-12">

				{% if node.title.value %}
					<h1>
						{{ node.title.value }}
					</h1>
				{% endif %}

			</div>
		</div>
	</div>

{% endif %}